@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply w-full text-headline;
  }
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: #1a8525; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1a8525,
    #1ba94c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1a8525,
    #1ba94c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-green-gradient {
  background: linear-gradient(to right, #1a8525, #1ba94c);
}

.bg-black-gradient {
  background: linear-gradient(
    145deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.badge {
  animation: up-down 2s ease infinite normal forwards;
}

.box-shadow {
  box-shadow: 0px 10px 100px -10px rgba(71, 91, 66, 0.4);
}

.hero-shadow {
  box-shadow: 0px 10px 100px 0px rgba(25, 99, 7, 0.4);
}

.skill-card {
  background: linear-gradient(
    145deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  box-shadow: 0px 10px 100px -10px rgba(71, 91, 66, 0.4);
}

.feature-card:hover {
  background: linear-gradient(
    145deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  box-shadow: 0px 10px 100px -10px rgba(71, 91, 66, 0.4);
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes up-down {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media screen and (max-width: 1060px) {
  .badge {
    animation: none;
  }
}
